<div class="container">
  <h1>Angular Pipe</h1>

  <h2>Custom List Filter Pipe</h2>

  <p>Search by header</p>
  <button class="btn" (click)="searchField = 'title'">Search by title</button>
  <button class="btn" (click)="searchField = 'text'">Search by text</button>
  <input type="text" [(ngModel)]="search">

  <div
    class="card"
    *ngFor="let post of posts | filter:search:searchField"
  >
    <h3>{{post.title}}</h3>
    <p>{{post.text}}</p>
  </div>

  <h2>Numbers</h2>
  <p>
    {{ e | number:'1.1-5' }}
  </p>
  <p>
    {{ e | number:'3.1-2' }}
  </p>
  <p>
    {{ e | number:'1.0-0' }}
  </p>

  <h2>Strings</h2>
  <p>
    {{ str | uppercase }}
  </p>

  <p>
    {{ str | titlecase | slice:1:-2 }}
  </p>

  <h2>Date</h2>

  <p>{{ date }}</p>

  <p>
    {{ date | date }}
  </p>

  <p>
    {{ date | date:'long' }}
  </p>

  <p>
    {{ date | date:'longDate' }}
  </p>

  <p>
    {{ date | date:'G dd.MM.yyyy HH:mm' }}
  </p>

  <h2>Others</h2>

  <p>
    {{float | currency}}
  </p>

  <p>
    {{float | percent}}
  </p>

  <p>
    {{float | percent: '2.1-2'}}
  </p>

  <pre>{{ obj | json }}</pre>

  <h2>Costom pipe</h2>

  <p>{{ 10 | mult }}</p>
  <p>{{ 10 | mult: 5 }}</p>

</div>
